.container{
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.sections{
  margin: 0% 10%;
  color: black;
  font-style: italic;
  font-weight: bolder;
  word-spacing: 0.5em;
  line-height: 2em;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0px;
  margin: 0px;
  background-image: url(../images/back.jpg);
}

#mainHeader{
  width: 100%;
  height: 50px;;
  position: relative;
  top: 0px;
  color:  #874355;
  background-color:  #fff;
  font-size: 15px;
  border-bottom: 10px solid  #813e71 ;
}

#navbar{
  background-color:  #754387;
  position: sticky;  
  left: 0;  
  right: 0;  
  top: 0px;  
  height: 50px;  
  width: 100%;
  display: flex;  
  align-items: center;  
  box-shadow: 0 0 25px 0 grey;  
}

#navbar * {  
  display: inline;  
  }  

#navbar ul{
  padding: 0px;
  margin: 0px;
  /* Line style none makes sure there are no dots or number for a sorted list */
  list-style: none;
  height: 50px;
}

#mainNav li{
  margin: 0px; 
  padding: 20px; 
}

#mainNav li a{
  color: black;
  /*Text decoration in this case remove the underling of the anchor item dissapear*/
  text-decoration: none;
  font-size: 20px;
}

#mainNav li:hover{
  background-color: #874377;
  height: 50px;
  width: 100px;
}

#mainHeader h1{
  text-align: left;
  position: relative;
  margin-top: 10px;
}

#mainFooter{
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  text-align: right;
  background: #d7ccff;
  padding: 5px;
}

#mainBodyDiv{
  position:static;
  top: 20px;
  width: 70%;
  height: auto;
  /*border: 5px solid black;*/
  background-image: url(../images/purple.jpg);
  background: rgba(0,0 ,0 , 0.1);
  border-radius: 100px 100px 100px 100px;
}

/*Icons for social media*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa{
  opacity: 0.6;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}